 /* main */
 
 @font-face {
   font-family: 'GT Walsheim Pro';
   src: url('..font/gtwalsheimpro-regular.eot');
   src: url('../font/gtwalsheimpro-regular.woff2') format('woff2'),
      url('../font/gtwalsheimpro-regular.woff') format('woff'),
      url('../font/gtwalsheimpro-regular.ttf') format('truetype'),
      url('../font/gtwalsheimpro-regular.eot') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
 }

 body {
   font-family: 'GT Walsheim Pro', 'Poppins', Verdana, sans-serif;
   transition: all 1s;
   color:#44423f;
   background-color: #f9f2ec;
   -webkit-user-select: none;
   -moz-user-select: -moz-none;
   -ms-user-select: none;
   user-select: none;
   height: 100vh;
   min-width: 100vw;
   z-index: 1000;
   margin: 0px!important;
   padding: 0px!important;
   overflow: hidden;
 }

 a {
   color: inherit;
   text-decoration: none;
 }
 a:hover {
   color: #aa5f56;
   text-decoration: none;
 }




 /* nav bar */

 .navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   height: 80px;
   width: 100vw;
   font-size: small;
   color: #44423f;
   z-index: 9909;
   overflow: hidden;
   background-color: #f9f2ec;
 }

 .home {
   display: flex;
   justify-content: flex-start;
   align-items: center;
 }

 .nav-links {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   text-align: left;
 }
  
 .home li, .nav-links li {
   list-style: none;
   margin: 7px 10px;
   flex: 1 0 120px;
 }

 .home a, .nav-links a {
   margin: 5px;
   padding: 2px 14px;
 }
  
 .nav-links a:hover {
   background: #44423f!important;
   color: white;
   box-shadow: 3px 3px 6px -1px rgb(148 148 148 / 80%);
   -webkit-transition: padding 0.2s ease-in;
   -moz-transition: padding 0.2s ease-in;
   -o-transition: padding 0.2s ease-in;
   transition: padding 0.2s ease-in;
   padding: 3px 19px;
 }

 .home a:hover {
   -webkit-transition: padding 0.2s ease-in;
   -moz-transition: padding 0.2s ease-in;
   -o-transition: padding 0.2s ease-in;
   transition: padding 0.2s ease-in;
   padding: 3px 19px;
 }
  
 .nav-links a:active {
   background: #44423f!important;
   color: white;
   box-shadow: 3px 3px 6px -1px rgb(148 148 148 / 80%);
   padding: 3px 19px;
 }

 .nav-links a:active {
   padding: 3px 19px;
 }




/* home page specific */

 .container-box-home::after {
   /* Set content to be an attribute on the element */
   content: attr(data-value); 
   position: relative;
   left: 50%;
   top: 15px;
   color: gray;
 }

 .container-box-home {
   -webkit-box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
   -moz-box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
   box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
   width: 90%;
   align-content: center;
   background-image: url('../img/lined-paper.png');
   background-size: cover;
   background-color: white;
   transition: all 1s;
   margin: 14% auto;
   padding: 30px;  
   text-align: center;
   position: relative;
 }

 .biopic {
   /* padding: 30px; */
 }

 .biopic-image {
   border-radius: 50%;
   box-shadow: 3px 3px 6px -1px rgba(148 148 148 / 80%);
 }

 .hello-myname {
   font-size: large;
   color: white;
   width: fit-content;
   margin: 7px auto;
   box-shadow: 3px 3px 6px -1px rgb(148 148 148 / 80%);
   background: #44423f!important;
   padding: 5px 23px;
 }

 .current-title {
   font-size: small;
   color: white;
   text-align: center;
   width: fit-content;
   margin: 7px auto;
   box-shadow: 3px 3px 6px -1px rgb(148 148 148 / 80%);
   background: #44423f!important;
   padding: 2px 23px;
 }



/* non-scroll pages */

.outer-wrapper {
   height: 100vh;
   width: 100vw;
   display: flex;
}

.wrapper {
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}
 
 #social-icons {
   padding: 0;
   min-width: 80px;
 }
 
 #social-icons li {
   display: inline;
   margin: 0px 5px;
 }
 
 #social-icons .iconi {
   font-size: medium;
   color: #44423f!important;
 }

 .container-box {
   -webkit-box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
   -moz-box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
   box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
   transition: all 1s;
   background-size: cover;
   background-color: white;
   justify-self: center;
   display: flex;
   align-content: center;
   align-items: center;
   position: relative;
   max-height: 70vh;
   width: 65%;
   padding: 30px;
   text-align: center;
   font-size: small;
 }

 .container-box-text {
   padding: 30px 50px;
   flex: 1 1 500px;
   text-align: left;
 }

 .background-text {
   line-height: 1.5em;
 }

 .container-box-image {
   padding: 30px 50px;
   flex: 0 1 45%;
 }

 .about-image {
   border-radius: 50%;
   box-shadow: 3px 3px 6px -1px rgba(148 148 148 / 80%);
   margin-bottom: 15%;
   width: 100%;
   max-width: 250px;
   height: auto;
 }

 .italic-larger-txt {
   font-size: larger; 
   font-style: italic;
 }

 @keyframes typingEffect {
   from {opacity: 1;}
   to {opacity: 0;}
 }

 #typing-effect {   
   animation: typingEffect .5s infinite alternate;
   color: white;
   font-weight: bolder;
 }




/* horizontal scrolling pages */

.outer-wrapper-scroll {
   height: 100vw;
   width: 100vh;
   transform: rotate(-90deg) translateX(-100vh);
   transform-origin: top left;
   overflow-y: scroll;
   overflow-x: hidden;
   position: absolute;
   scroll-snap-type: y mandatory;
   scroll-behavior: smooth;
   scroll-snap-stop: always
}
 .wrapper-scroll {
   display: flex;
   flex-direction: row;
   height: 100vh;
   width: 400vw;
   transform: rotate(90deg) translateY(-100vh);
   transform-origin: top left;
 }
 .slide {
   scroll-snap-align: start;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
 }
 .one {
    /* background: #efdefe; */
 }
 .two {
    /* background: #a3f3d3; */
 }
 .three {
    /* background: #0bbaa0; */
 }
 .four {
    /* background: white; */
 }
 



 /* image gallery and modal */

 .container-box-lb {
   -webkit-box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
   -moz-box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
   box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
   transition: all 1s;
   background-size: cover;
   background-color: white;
   justify-self: center;
   display: flex;
   align-content: center;
   align-items: center;
   position: relative;
   max-height: 70vh;
   max-width: 80%;
   padding: 30px;
   text-align: center;
   font-size: small;
 }
 .container-box-lb-image {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 5px 10px;
   flex: 0 1 65%;
 }
 .lb-image-container {
   margin: 0;
 }
 .lb-image {
   box-shadow: 3px 3px 6px -1px rgba(148 148 148 / 80%);
   width: 100%;
   justify-self: left;
   object-fit: cover;
   object-position: center center;
   max-width: 500px;
   height: 400px;
   margin: 20px 0;
   cursor: pointer;
   image-rendering: -webkit-optimize-contrast;
 }
 .lb-thumbnail-wrapper {
   width: 100%;
   max-width: 500px;
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
 .lb-thumbnail {
   box-shadow: 3px 3px 6px -1px rgba(148 148 148 / 80%);
   object-fit: cover;
   object-position: center center;
   max-width: 100px;
   height: 80px;
   margin: 0 7px;
   cursor: pointer;
   opacity: 1;
   image-rendering: -webkit-optimize-contrast;
 }
 .lb-thumbnail:hover {
   opacity: 0.8;
 }
 .lb-thumbnail-active {
   opacity: 0.2;
 }
 .modal {
   display: none; /* hidden by default */
   position: fixed;
   z-index: 9959;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: white;
   background-color: rgba(255, 255, 255, 0.9);
 }
 .modal-content {
   margin: auto;
   display: block;
   max-height: 100%;
   width: auto;
 }
 .modal-content, #caption { 
   animation-name: zoom;
   animation-duration: 0.6s;
 }
 @keyframes zoom {
   from {transform:scale(0)} 
   to {transform:scale(1)}
 }
 .close {
   z-index: 9999;
   position: absolute;
   top: 15px;
   right: 75px;
   color: #44423f;
   display: flex;
   flex-direction: column;
   justify-items: center;
   transition: 0.3s;
   text-align: center;
   opacity: 1;
 }
 .close:hover,
 .close:focus {
   color: #aa5f56;
   text-decoration: none;
   cursor: pointer;
 }
 .close-x {
   width: 100%;
   font-size: 40px;
   font-weight: bold;
 }
 .close-text {
   width: 100%;
   font-size: small!important;
   font-weight: normal!important;
 }




/* footer */

 .footer {
   font-size: small;
   text-align: center; 
   position: fixed;
   bottom: 0;
   height: 40px;
   width: 100vw;
   text-align: center;
   padding-bottom: 9px;
   z-index: 9909;
   background-color: #f9f2ec;
 }




/* mobile settings */

 @media  (max-width:900px) {

    /* nav bar */

    .home li, .nav-links li {
      margin: 3px 14px;
      flex: 1 0 93px;
    }

    .home a, .nav-links a {
      margin: 0px;
      padding: 2px 9px;
    }
      
    .home a:hover, .nav-links a:hover {
      padding: 3px 14px;
    }
      
    .home a:active, .nav-links a:active {
      padding: 3px 14px;
    }


    /* home page specific */

    .hello-myname {
      font-size: x-large;
      box-shadow: 3px 3px 6px -1px rgb(148 148 148 / 50%);
      background: white;
      padding: 2px 4px !important;
    }

    .hello-myname .name {
      display: block!;
      font-size: 22px !important;
    }

    .hello-myname .hi-this-is {
      font-size: 12px !important;
    }

    .current-title {
      padding: 2px 4px;
    }


    /* other */

    .container-box {
      width: 80%;
      flex-wrap: wrap;
      justify-content: center;
    }

    .container-box-text {
      padding: 5px 0px!important;
    }
    
    .container-box-image {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 5px 0px!important;
      flex: 0 1 100%;
    }

    .about-image {
      margin-bottom: 5%;
      margin-right: 40px;
      margin-left: 20px;
      max-height: 100px;
      width: auto;
     }

 }

 .block-relative-fitcontet {
   display: block;width: fit-content; position: relative;
 }

 .fab {
   color: #44423f!important;
 }